Prova.py
prova.ipynb
Dati/primastagione.csv
Dati/quartastagione.csv
Dati/quintastagione.csv
Dati/secondastagione.csv
Dati/sestastagione.csv
Dati/terzastagione.csv
Script_python/01_PuliziaDati.ipynb
Script_python/02_Create_index.ipynb
Script_python/.ipynb_checkpoints/01_PuliziaDati-checkpoint.ipynb
Script_python/.ipynb_checkpoints/02_Create_index-checkpoint.ipynb
Script_python/.ipynb_checkpoints/03_SearchEngine-checkpoint.ipynb
Dati/.DS_Store
Dati/.ipynb_checkpoints/01_PuliziaDati-checkpoint.ipynb
Dati/.ipynb_checkpoints/02_Create_index-checkpoint.ipynb
Dati/.ipynb_checkpoints/03_SearchEngine-checkpoint.ipynb
Dati/.ipynb_checkpoints/dati_puliti-checkpoint.csv
.DS_Store
Script_python/.DS_Store
Stili/.DS_Store
.ipynb_checkpoints/index-checkpoint.html
.ipynb_checkpoints/prova-checkpoint.ipynb
.ipynb_checkpoints/SearchEngine-checkpoint.ipynb
.ipynb_checkpoints/GIT-checkpoint.ipynb
GIT.ipynb
Light_SearchEngine.ipynb
SearchEngine.ipynb
Script_python/02_light_Create_index.ipynb
Script_python/.ipynb_checkpoints
Dati/inverted_idx.json
Dati/tfidf_index.csv
Dati/vocabulary.json
Dati/word_dict.json
.ipynb_checkpoints
SearchEngine.ipynb

