SearchEngine.ipynb
Light_SearchEngine.ipynb
.ipynb_checkpoints
.DS_Store

Dati/primastagione.csv
Dati/secondastagione.csv
Dati/terzastagione.csv
Dati/quartastagione.csv
Dati/quintastagione.csv
Dati/sestastagione.csv
Dati/inverted_idx.json
Dati/tfidf_index.csv
Dati/vocabulary.json
Dati/word_dict.json
Dati/.ipynb_checkpoints
bozze.py


Script_python/01_PuliziaDati.ipynb
Script_python/02_Create_index.ipynb
Script_python/02_light_Create_index.ipynb
Script_python/.ipynb_checkpoints


Stili/.DS_Store




