SearchEngine.ipynb
Light_SearchEngine.ipynb
.ipynb_checkpoints
.DS_Store

Dati/primastagione.csv
Dati/secondastagione.csv
Dati/terzastagione.csv
Dati/quartastagione.csv
Dati/quintastagione.csv
Dati/sestastagione.csv


Dati/dati_puliti.csv
Dati/light_word_dict.json


Dati/inverted_idx.json
Dati/light_inverted_idx.json

Dati/tfidf_index.csv

Dati/vocabulary.json
Dati/light_vocabulary.json

Dati/word_dict.json
Dati/light_word_dict.json

Dati/lista_gueststar.txt
Dati/html_gueststar.txt

Dati/.ipynb_checkpoints
bozze.py
prove.html





Script_python/01_PuliziaDati.ipynb
Script_python/02_Create_index.ipynb
Script_python/02_light_Create_index.ipynb
Script_python/.ipynb_checkpoints
Script_python/Untitled.ipynb

Stili/.DS_Store




